{% extends 'base.html.twig' %}

{% block title %}Nos Annoces!
{% endblock %}

{% block body %}
	{#
	<div>
		<h2 class="mt-1 mb-4">Nos annonces!</h2>
		<div class="row mt-1">
			{% for annonce in annonces %}
			{% set url=path('annonce_show', {'slug' : annonce.slug}) %}
				<div class="col-sm-4 mr-auto">
					<div class="card text-white bg-secondary mb-1" style="max-width: 20rem;">
						<div class="card-header">{{ annonce.rooms }}
							chambres |
							{{ annonce.price }}
							&euro;</div>
						<div class="card-body">
							<a href="{{ url }}">
								<h4 class="card-title">{{ annonce.tittle }}</h4>
							</a>
							<a href="{{ url }}">
								<img src="{{ annonce.converImage }}" alt="Image de l'appartement" style="width:100%;height:auto; display : block; overflow : auto"/>
							</a>
							<p class="card-text">{{annonce.introduction}}</p>
							<p>
								<a href="{{ url }}">
									<button type="button" class="btn btn-secondary">En savoir plus</button>
								</a>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>#}
	<div class="container mt-5">
        <div class="row d-flex justify-content-center">
			{% for annonce in annonces %}
			{% set url=path('annonce_show', {'slug' : annonce.slug}) %}
            <div class="col-md-6 mt-3">
                <div class="card p-3 py-4">
                    
					<div class="card-header">{{ annonce.rooms }}
						chambres |
						{{ annonce.price }}
						&euro;
					</div>
					<div class="text-center">
                        <img src="{{ annonce.converImage }} " width="500">
                    </div>
                    <div class="text-center mt-3">
                        {#<span class="bg-secondary p-1 px-4 rounded text-white">Utilisateur</span>#}
                        <a href="{{ path('annonce_show', {'slug' : annonce.slug})}}"><h5 class="mt-2 mb-0">{{ annonce.tittle }} </h5></a>
                        <span class="fonts">{{ annonce.introduction }}</span>
                        <div class="buttons mt-3">
                            <button class="btn btn-outline-primary px-4">Message</button>
                            <button class="btn btn-primary px-4 ms-3">Contact</button>
                        </div>
                    </div>        
                </div>
            </div>
			{% endfor %}
        </div>
    </div>
{% endblock %}
