{% extends 'base.html.twig' %}
{% block title %}
	{{ annonce.tittle }}
{% endblock %}
{% block body %}
	<div class="annonce_title mb-2 mt-2" style="background-image : url({{ annonce.converImage }})">
		<div class="container">
			<h1>{{ annonce.tittle }}</h1>
			<p>
				{{ annonce.introduction }}</p>
			<p class="h2">
				<strong>{{ annonce.rooms }} chambres</strong> pour
				<strong>{{ annonce.price }} &euro;</strong>	par nuit
			</p>
			<a href="#" class="btn btn-light mb-1">Reserver !</a>
			{% if app.user and app.user == annonce.author %}
				<a href="{{path('annonce_edit', {'slug' : annonce.slug })}}" class="btn btn-secondary mb-1">Modifier l'annonce</a>
			{% endif %}
		</div>
	</div>
	<hr>
	<div>
		<div class="row">
			<div class="col-md-8 mb-2">
				<div class="fonts">{{ annonce.content | raw}}</div>
				<div id="carouselExampleCaptions" class="carousel slide">
					<div class="carousel-indicators">
						<button type="button" data-target="#carouselExampleCaptions" data-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-target="#carouselExampleCaptions" data-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-target="#carouselExampleCaptions" data-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
						{% for image in images %}
						<div class="carousel-item {{ loop.first ? 'active' }}">
							<img src="{{ annonce.converImage }}" class="d-block w-100" alt="...">
							<div class="carousel-caption d-none d-md-block">
								<h5>{{ annonce.tittle }}</h5>
								<div class="fonts">{{ annonce.introduction }}</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			{% set a = annonce.author %}
			<div class="col">
				<div class="row mb-3 align-items-center">
					<div class="col-3">
						<a href="{{ path('user_show', {'slug' : a.slug })}}">
							<img src="{{ a.picture}}" alt="Image de {{ a.fullName}}"  class="author author-medium" set=""/>
						</a>
					</div>
					<div class="col">
						<a href="{{ path('user_show', {'slug' : a.slug })}}">
							<h3>{{ a.fullName }}</h3>
						</a>
						<span class="btn btn-dark btn-sm">{{ a.annonces | length }} annonces</span>
						
					</div>
				</div>
				<div class="fonts">{{ a.description | raw }}</div>
			</div>
		</div>
	</div>
{% endblock %}
